.form label{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    color: #04146c;
    font-size: 24px;
 }
   
 .btn-primary{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #04146c;
    font-size: 24px;
    background-color: #5974ff;
    color: white;
    width: 150px;
    height: 50px;
 }  
 .form-control{
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: #04146c;
    font-size: 24px;
 }
 .btn-recor {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: #04146c;
    font-size: 24px;
 }  
 body{
    display: flex;
    justify-content: center;
 } 
 @media (max-width: 768px) {
    body {
        margin: 0 auto; /* Margen superior e inferior en 0, y margen izquierdo y derecho en auto */
        max-width: 500px; /* Ancho máximo del <main> */
        padding: 30px; 
    }
  }